* {
  font-family: monospace;
}
button {
  transition: 1.5s;
}
.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 5rem;
}

.auth-title {
  text-align: center;
  margin-bottom: 20px;
}
.auth-title:hover {
  text-decoration: underline;
}
.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form-group {
  margin-bottom: 15px;
}

.auth-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.auth-input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.auth-input:focus {
  background-color: lightgreen;
  transition: 1.5s;
}
.auth-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-message {
  margin-top: 10px;
  color: #ff0000;
  text-align: center;
  font-family: cursive;
}
.navbar {
  background-color: royalblue;
  padding: 10px;
}

.navBarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  margin-right: 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: darkblue;
  transition: 1.5s;
}

.bookCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
  background-color: #fff;
}

.bookCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bookCardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.bookCardContent {
  padding: 16px;
}

.bookCardTitle {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}

.bookCardDescription {
  color: #555;
  margin: 8px 0;
}

.bookCardPrice {
  font-weight: bold;
  color: #000;
}
